In [147]:
import pandas as pd

In [163]:
df = pd.read_csv("experiments_result_full.csv", index_col=False).drop("Unnamed: 0", axis=1)
df["embeddings_type"][df["embeddings_type"] == "bert_large"] = "bert_large (768)"
df["embeddings_type"][df["embeddings_type"] == "bert_small"] = "bert_small (256)"
df["embeddings_type"][df["embeddings_type"] == "bert_tiny"] = "bert_tiny (128)"
df["accuracy"] = (df["accuracuy"].fillna(0) + df["accuracy"].fillna(0))
#df = df[df["data"]=="both"]

/var/folders/m2/659rrfsx63db1lpvyxrqtf9h0000gn/T/ipykernel_80003/3377199695.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["embeddings_type"][df["embeddings_type"] == "bert_large"] = "bert_large (768)"
/var/folders/m2/659rrfsx63db1lpvyxrqtf9h0000gn/T/ipykernel_80003/3377199695.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["embeddings_type"][df["embeddings_type"] == "bert_small"] = "bert_small (256)"
/var/folders/m2/659rrfsx63db1lpvyxrqtf9h0000gn/T/ipykernel_80003/3377199695.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["embeddings_type"][df["embeddings_type"] == "bert_tiny"] = "bert_tiny (128)"

In [164]:
df.head(10).sort_values(["name"], ascending=False)

,accuracuy,precision,recall,f1_score,name,embeddings_type,data,best_params,is_train,accuracy
2,0.419337,0.595205,0.412101,0.448591,SVC,tfidf,title,{},True,0.419337
3,0.378000,0.550916,0.378000,0.406351,SVC,tfidf,title,{},False,0.378000
8,0.592102,0.656071,0.581140,0.591495,SVC,tfidf,synopsis,{},True,0.592102
9,0.564667,0.629705,0.564667,0.566598,SVC,tfidf,synopsis,{},False,0.564667
4,0.296208,0.355724,0.294251,0.292273,NaiveBayes,tfidf,title,{},True,0.296208
5,0.285333,0.360068,0.285333,0.281771,NaiveBayes,tfidf,title,{},False,0.285333
0,0.782496,0.794182,0.783729,0.786213,MLP,tfidf,title,{},True,0.782496
1,0.486333,0.493487,0.486333,0.487366,MLP,tfidf,title,{},False,0.486333
6,0.886469,0.887748,0.886303,0.886681,MLP,tfidf,synopsis,{},True,0.886469
7,0.635000,0.640261,0.635000,0.636059,MLP,tfidf,synopsis,{},False,0.635000

### Comparing F1-scores of all models

In [165]:
metric = "precision"

def get_report(metric):
    df["exp"] = df["embeddings_type"] + "_" + df["data"]
    df2 = df[~df.is_train].sort_values(["data"], ascending=False)
    result = df2.pivot(index=["embeddings_type", "data"], columns="name", values=[metric])

    columns_ordering = [(metric,"NaiveBayes"), (metric,"SVC"), (metric,"MLP")]

    tmp = result.reset_index()
    embs_ordering = ["bert_large (768)", "bert_small (256)", "bert_tiny (128)", "w2v", "tfidf"]
    tmp["sortingval"] = tmp.embeddings_type.apply(lambda x: embs_ordering.index(x))
    tmp = tmp.sort_values(["sortingval", "data"], ascending=False)
    return tmp.set_index(["embeddings_type", "data"]).drop("sortingval", axis=1)[columns_ordering]

In [166]:
get_report("accuracy")

                            accuracy
name                      NaiveBayes       SVC       MLP
embeddings_type  data
tfidf            title      0.285333  0.378000  0.486333
                 synopsis   0.368000  0.564667  0.635000
                 both       0.338667  0.623000  0.679333
w2v              title      0.306667  0.519667  0.548000
                 synopsis   0.485000  0.640333  0.695333
                 both       0.460667  0.690333  0.699333
bert_tiny (128)  title      0.378333  0.523333  0.521000
                 synopsis   0.483333  0.616333  0.628333
                 both       0.499667  0.678667  0.663333
bert_small (256) title      0.364333  0.587333  0.567333
                 synopsis   0.462333  0.682667  0.683333
                 both       0.470000  0.716000  0.710333
bert_large (768) title      0.390333  0.623667  0.612667
                 synopsis   0.532000  0.740667  0.733000
                 both       0.506667  0.751333  0.756000

In [167]:
get_report("precision")

                           precision
name                      NaiveBayes       SVC       MLP
embeddings_type  data
tfidf            title      0.360068  0.550916  0.493487
                 synopsis   0.458859  0.629705  0.640261
                 both       0.422493  0.669892  0.685037
w2v              title      0.404707  0.554915  0.570712
                 synopsis   0.537012  0.650188  0.700421
                 both       0.516880  0.695982  0.711186
bert_tiny (128)  title      0.410069  0.537178  0.527762
                 synopsis   0.500525  0.623281  0.634910
                 both       0.522283  0.683656  0.669563
bert_small (256) title      0.403563  0.601077  0.585919
                 synopsis   0.485056  0.688771  0.685012
                 both       0.495044  0.722099  0.714609
bert_large (768) title      0.435434  0.633828  0.629817
                 synopsis   0.554923  0.745303  0.740670
                 both       0.535751  0.754292  0.757956

In [168]:
get_report("recall")

                              recall
name                      NaiveBayes       SVC       MLP
embeddings_type  data
tfidf            title      0.285333  0.378000  0.486333
                 synopsis   0.368000  0.564667  0.635000
                 both       0.338667  0.623000  0.679333
w2v              title      0.306667  0.519667  0.548000
                 synopsis   0.485000  0.640333  0.695333
                 both       0.460667  0.690333  0.699333
bert_tiny (128)  title      0.378333  0.523333  0.521000
                 synopsis   0.483333  0.616333  0.628333
                 both       0.499667  0.678667  0.663333
bert_small (256) title      0.364333  0.587333  0.567333
                 synopsis   0.462333  0.682667  0.683333
                 both       0.470000  0.716000  0.710333
bert_large (768) title      0.390333  0.623667  0.612667
                 synopsis   0.532000  0.740667  0.733000
                 both       0.506667  0.751333  0.756000

In [169]:
get_report("f1_score")

                            f1_score
name                      NaiveBayes       SVC       MLP
embeddings_type  data
tfidf            title      0.281771  0.406351  0.487366
                 synopsis   0.379795  0.566598  0.636059
                 both       0.338183  0.625928  0.679674
w2v              title      0.303973  0.527074  0.552471
                 synopsis   0.490822  0.640584  0.695595
                 both       0.464542  0.691274  0.698313
bert_tiny (128)  title      0.372541  0.524410  0.518649
                 synopsis   0.479909  0.615487  0.628836
                 both       0.496670  0.678257  0.662607
bert_small (256) title      0.356812  0.588648  0.570283
                 synopsis   0.457391  0.683528  0.681494
                 both       0.463146  0.717195  0.711201
bert_large (768) title      0.376867  0.625870  0.614628
                 synopsis   0.533312  0.741442  0.733635
                 both       0.503779  0.751922  0.755128